@model ProiectDaw1.Models.CustomModelsClass.AddPhotoClass
@{
    ViewBag.Title = "AddPhoto";
}

<h2>Add</h2>

@using (Html.BeginForm("AddPhoto", "Profile", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
<div class="form-horizontal">
    <h4>Image</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.image.Descriere, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.image.Descriere, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.image.Descriere, "", new { @class = "text-danger" })
        </div>
    </div>
    <input type="file" name="image.ImageFile" required />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
    @{ 
        
    }
    @Html.DropDownListFor(m => m.CategoriesHelper.CategoryId, new SelectList(Model.Categories, "Value", "Text"), "Selectati categoria", new { @class = "form-control" })
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
