@model ProiectDaw1.Models.CustomModelsClass.ViewProfileClass

@{
    ViewBag.Title = "View";
}


<div>
    <div class="page-header">
        <h1>My Profile </h1>
    </div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.profile.ProfilePicture)
        </dt>

        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.profile.ProfilePicture.ByteString);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <a href="/Image/View/@Model.profile.ProfilePicture.ImageId"><img src="@imgSrc" width="100" height="100" /></a>
</dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile.Prename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.Prename)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile.Nickname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.Nickname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.profile.Language)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.profile.Language)
        </dd>


    </dl>

</div>
<p>
    <div class="btn-group btn-group-justified" role="group" aria-label="...">
        @{
            if (Model.OwnerOfProfile || User.IsInRole("Administrator"))
            {
                <div class="btn-group" role="group">
                    <a href="/Album/Add/@Model.profile.ProfileId"><button type="button" class="btn btn-default">Add New Album</button></a>
                </div>
                <div class="btn-group" role="group">
                    <a href="/Profile/Edit/@Model.profile.ProfileId"><button type="button" class="btn btn-default">Edit</button></a>
                </div>
                <div class="btn-group" role="group">
                    <a href="/Profile/Delete/@Model.profile.ProfileId"><button type="button" class="btn btn-default">Delete</button></a>
                </div>

                <div class="btn-group" role="group">
                    <a href="/Album/Index/@Model.profile.ProfileId"><button type="button" class="btn btn-default">View Albums</button></a>
                </div>
            }
        }

        <div class="btn-group" role="group">
            <a href="/Image/Index"<button type="button" class="btn btn-default">Back to Browsing</button></a>
        </div>
    </div>
</p>
@{
    int i = 1;
    if (Model.images != null)
    {
        foreach (var item in Model.images)
        {

            var base64a = Convert.ToBase64String(item.ByteString);
            var imgSrca = String.Format("data:image/gif;base64,{0}", base64a);
            <a href="/Image/View/@item.ImageId"><img src="@imgSrca" width="250" height="250" /></a>
            if (i % 4 == 0)
            {
                <br>
                </br>
            }
            i++;
        }
    }
}