@model ProiectDaw1.Models.CustomModelsClass.AddComentClass
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.image.ByteString);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <img id="imagine" src="@imgSrc" />
            <style>
                .imagine {
                    max-height: 500;
                    max-width: 700;
                }
            </style>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image.Descriere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image.Descriere)
        </dd>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <form method="post" action="/Comment/Add">
                    <input type="hidden" name="Comment.ImageId" value="@Model.image.ImageId" />
                    <br />
                    <textarea rows="2" name="Comment.Comment" class="form-control" placeholder="Say something nice!"></textarea>

                    <button type="submit" class=" btn btn-default">Add Comment</button>
                </form>
            }
        }

        <br>
        @{
            if (Model.image.Comments != null)
            {
                int i = 0;
                foreach (var item in Model.image.Comments.ToList())
                {
                    if (item.visible == 1 || Model.OwnerOfPicture == true)
                    {
                        <dt>
                            @Html.DisplayFor(modelitem => Model.commentNames[i])
                        </dt>

                        <dd>
                            <div class="btn-group" role="group" aria-label="...">
                                @Html.DisplayFor(modelitem => item.comment)
                                @{
                                    if (Model.OwnerOfPicture)
                                    {
                                        if (item.visible == 1)
                                        {
                                            <a href="/Comment/Hide/@item.Id"> <button type="button" class="btn btn-default">Hide</button></a>
                                        }
                                        else
                                        {
                                            <a href="/Comment/Unhide/@item.Id"> <button type="button" class="btn btn-default">Unhide</button></a>
                                        }

                                    }
                                    if (Model.OwnerOfComment[i] || User.IsInRole("Administrator"))
                                    {
                                        <a href="/Comment/Edit/@item.Id"> <button type="button" class="btn btn-default">Edit</button></a>
                                        <a href="/Comment/Delete/@item.Id"> <button type="button" class="btn btn-default">Delete</button></a>
                                    }
                                }
                            </div>
                        </dd>

                    }
                    i++;
                }
            }
        }


    </dl>
</div>
<p>
    @{
        if (Model.OwnerOfPicture || User.IsInRole("Administrator"))
        {
            <div class="btn-group btn-group-justified" role="group" aria-label="...">
                <div class="btn-group" role="group">
                    <a href="/Image/Edit/@Model.image.ImageId"><button type="button" class="btn btn-default">Edit</button></a>
                </div>
                <div class="btn-group" role="group">
                    <a href="/Image/Delete/@Model.image.ImageId"><button type="button" class="btn btn-default">Delete</button></a>
                </div>

            </div>
        }
    }
    <div class="btn-group" role="group">
        <a href="/Image/Index"><button type="button" class="btn btn-default">Back to Frontpage</button></a>
    </div>
</p>
