@model ProiectDaw1.Models.CustomModelsClass.AddComentClass
@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<div>
    <h4>Image</h4>
    <hr />
    <dl class="dl-horizontal">
        <dd>
            @{
                var base64 = Convert.ToBase64String(Model.image.ByteString);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
            }

            <img id="imagine" src="@imgSrc" />
            <style>
                .imagine {
                    max-height: 500;
                    max-width: 700;
                }
            </style>
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.image.Descriere)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image.Descriere)
        </dd>
        @{
            if (User.Identity.IsAuthenticated)
            {
                <form method="post" action="/Comment/Add">
                    <input type="hidden" name="Comment.ImageId" value="@Model.image.ImageId" />
                    <br />
                    <textarea rows="4" cols="50" name="Comment.Comment"></textarea>
                    <button type="submit">Adauga Comentariu</button>
                </form>
            }
        }

        <br>
        @{
            if (Model.image.Comments != null)
            {
                int i = 0;
                foreach (var item in Model.image.Comments.ToList())
                {
                    if (item.visible == 1)
                    {
                        <dt>
                            @Html.DisplayFor(modelitem => Model.commentNames[i])
                        </dt>

                        <dd>
                            @Html.DisplayFor(modelitem => item.comment) |
                            <a href="/Comment/Edit/@item.Id"> Edit</a> |
                            <a href="/Comment/Delete/@item.Id"> Delete</a> |
                        </dd>

                    }
                    i++;
                }
            }
        }


    </dl>
</div>
<p>
    @{ 

    }
    @Html.ActionLink("Edit", "Edit", new { id = Model.image.ImageId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
